# Virtual env
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Tools
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
.vscode/

# Env & secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db
*.sqlite